<p class="govuk-!-margin-bottom-0">
  Call <a href = "<%= content['tel']['tel_link'] %>" class = "govuk-!-padding-left-1 govuk-link"><%= content['tel']['tel_number'] %></a>
</p>
<p class="govuk-body-s muted-text"><%= content['tel']['tel_times'] %></p>
