.action-plan-section {
  border-top: 7px solid govuk-colour("blue");
}

.action-plan-section__bottom {
  @include govuk-media-query($from: tablet) {
    border-bottom: 7px solid govuk-colour("blue");
  }
}

.action-plan-action {
  @include govuk-media-query($from: desktop) {
    float: right;
  }

  &.govuk-button {
    display: block;
    width: 100%;
  }
}

.action-plan-list .govuk-grid-row:last-child a {
  margin-bottom: govuk-spacing(2);
}
