.banner-info {
  margin-bottom: govuk-spacing(3);
  border: 4px solid $govuk-link-colour;
}

.banner-info-message {
  @include govuk-font($size: 19, $weight: bold);

  margin: govuk-spacing(2);
  color: $govuk-link-colour;
}
