.cookies-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); // scss-lint:disable ColorVariable

  .govuk-header__container {
    border: none;
  }
}

.cookies-modal-content {
  background-color: govuk-colour("white");
}
