.search-container {
  background-color: govuk-colour("blue");

  .govuk-heading-xl,
  .govuk-body-l {
    color: govuk-colour("white");
  }
}

.govuk-button-full {
  width: 100%;
}

.search-button {
  margin-bottom: 0;

  @include govuk-media-query($from: desktop) {
    margin-left: govuk-spacing(2);
  }

  @include govuk-media-query($from: mobile, $until: desktop) {
    margin-top: govuk-spacing(6);
  }
}

.search-button-results {
  cursor: pointer;
  float: left;
  border: 0;
  width: 40px;
  height: 40px;
  background-image: url("../images/search_icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px;
  background-color: govuk-colour("blue");

  &:focus {
    @include govuk-focused-text;
  }
}

.search-input,
%search-input {
  float: left;

  @include govuk-media-query($from: tablet, $until: desktop) {
    width: calc(100% - 40px) !important;
  }

  position: relative;
  z-index: 10;
}

.course-search-input {
  @extend %search-input;

  @include govuk-media-query($from: mobile, $until: desktop) {
    width: calc(100% - 40px) !important;
  }
}

.column-list {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;

  @include govuk-media-query($from: mobile, $until: tablet) {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }
}

.column-list-item {
  list-style-position: inside;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  padding-right: 15px;

  a {
    text-decoration: none;
  }
}

.no-text-decoration {
  text-decoration: none;
}

.muted-text {
  color: $govuk-secondary-text-colour;
}

.strong {
  font-weight: bold;
}

.profile-highlights {
  width: 55px;
  height: 55px;
}

%responsive-icon {
  @include govuk-media-query($from: mobile, $until: desktop) {
    float: left;
    margin-right: 20px;
    height: 62px;
  }
}

.responsive-section-break {
  @include govuk-media-query($from: mobile, $until: desktop) {
    width: 40%;
    margin-left: 0;
  }
}

.salary-icon {
  @extend %responsive-icon;

  background: url('../images/pound.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.arrow-falling-icon {
  @extend %responsive-icon;

  background: url('../images/arrow_falling.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.arrow-growing-icon {
  @extend %responsive-icon;

  background: url('../images/arrow_growing.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.arrow-growing-strongly-icon {
  @extend %responsive-icon;

  background: url('../images/arrow_growing_strongly.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.arrow-stable-icon {
  @extend %responsive-icon;

  background: url('../images/arrow_stable.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.extended-container {
  @include govuk-media-query($from: tablet) {
    width: 150% !important;
  }
}

.related-profiles {
  @include govuk-media-query($from: tablet) {
    margin-top: 180px;
  }
}

.related-profiles-right-padding-0 {
  @include govuk-media-query($from: tablet) {
    padding-right: 0;
  }
}

.salary-columns {
  display: flex;
  flex-flow: row wrap;

  @include govuk-media-query($from: mobile, $until: desktop) {
    width: 40%;
  }
}

.salary-separator {
  padding: 5px;
  text-align: center;

  @include govuk-media-query($from: tablet, $until: 965px) {
    text-align: left;
  }

  @include govuk-media-query($from: mobile, $until: 480px) {
    text-align: left;
  }

  @include govuk-media-query($from: tablet) {
    padding: 0 2px;
  }
}

.salary-column {
  flex: 1;
}

@media screen and (max-width: 30%) {
  .salary-columns .salary-column {
    flex-basis: 10%;
  }
}
