.govuk-section-break__xl {
  border-bottom-width: 2px;
  border-bottom-color: $govuk-text-colour;
}

.govuk-table__body-skills {
  tr:last-child {
    td {
      border-bottom-width: 2px;
      border-bottom-color: $govuk-text-colour;
    }
  }
}

.job-profile-action {
  display: block;
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(2);

  @include govuk-media-query($from: tablet) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
