<div class="govuk-header__logo">
  <%= link_to "https://www.gov.uk/government/organisations/department-for-education", class: "govuk-header__link govuk-header__link--homepage" do %>
    <span class="govuk-header__logotype manual-logo">
      <%= image_tag "dfe.svg", class: 'govuk-header__logotype-crown', alt: 'Department for Education logo' %>
    </span>
  <% end %>
</div>
